/cmake-build-debug-visual-studio/
/cmake-build-release-visual-studio/
sr.cpp

# Archivos ignorados por defecto
.idea/shelf/
.idea/workspace.xml
# Solicitudes de cliente HTTP basadas en el editor
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml